<ion-header>

  <ion-navbar hideBackButton="true">
    <ion-toolbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>All Seminars</ion-title>

      <ion-buttons end>
        <button *ngIf="!user.is_student" ion-button icon-only color="royal" (click)="addSeminar()">
          <ion-icon name="add"></ion-icon>
        </button>
        <button *ngIf="user.is_student" ion-button icon-only color="royal" (click)="scanQR()">
          <ion-icon name="qr-scanner"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <button ion-item *ngFor="let seminar of seminars" (click)="itemTapped($event, seminar)">
      {{seminar.name}}
    </button>
  </ion-list>

</ion-content>
